[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
certifi = "*"
gunicorn = "*"
black = "*"
pylint = "*"
pytest = "*"
flask-login = "*"
appdirs = "*"
exceptiongroup = "*"
tomli = "*"
dill = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.12"
