<!DOCTYPE html>
<html>

<head>
    <title>Quiz Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
        }

        .click_edit:hover {
            cursor: pointer;
            background-color: lightgray;
            transition: all .4s ease;
            -webkit-transition: all .4s ease;
        }
    </style>
</head>

<body>
    <h1>Quiz App Homepage</h1>
    <div class="wrapper">
        <ul>
            {% for quiz in quizzes %}
            <li class="click_edit"><a href="{{ url_for('quiz', quiz_id=quiz._id) }}">{{ quiz.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <a href="/create"><button type="submit" class="creation-button">Create a quiz</button></a>
    </div>
    <br>
    <br>
    <div>
        <a href="/delete"><button type="submit" class="delete-button">Delete quizz(es)</button></a>
    </div>
    <form action="/search" method="POST">
        <div class="wrapper">
            <input type="text" name="query" placeholder="Search quiz title..."  class="search-input"></input>
            <button type="submit" class="search-button" >Search</button>
        </div>
        </form>
    <form action="/searchdelete" method="POST">
    <div class="wrapper1">
            <input type="text" name="query" placeholder="Search to delete..."  class="search-input"></input>
            <button type="submit" class="sd-button">Delete</button>
        </div>
    </form>
</body>

</html>