
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: black;
}

.wrapper {
    display: flex;
    margin-top: 50px;
    width: 450px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px; /* Add spacing between calendar and todo list */
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header {
    font-size: 1.45rem;
    font-weight: 500;
}
h1{
    color: white;
    font-family: cursive;
    text-align: center;
    padding-top: 100px;
    font-size: 3rem;
    line-height: 38px;
    border-radius: 50%;
}
h2{
    color: black;
    font-family:"Times New Roman", Times, serif;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 3rem;
    line-height: 38px;
    border-radius: 50%;
}
h3{
    color: white;
    font-family:"Times New Roman", Times, serif;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 3rem;
    line-height: 38px;
    border-radius: 50%;
}


a {
    text-decoration: none; /* Remove underlines */
    color: inherit; /* Use the parent's color (usually black or as specified by the parent element) */
}

header .icons span {
    height: 38px;
    width: 38px;
    color: #878787;
    font-size: 1.9rem;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

header .icons span:last-child {
    margin-right: -10px
}

header .icons span:hover {
    background: #f2f2f2
}



.quiz-list {
    list-style: none;
    padding: 20px;
}

.quiz li {
    margin-bottom: 10px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.submission-event-button,
.another-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: black;
    color: white;
    border: none;
    font-family:"Times New Roman", Times, serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 150px; 
    text-align: center;
    font-size: 15px;
    float: left;
    margin-right: 120px;
}
.submission-event-button,
.another-button:hover {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: white;
    color: black;
    border: none;
    font-family:"Times New Roman", Times, serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 150px; 
    text-align: center;
    font-size: 15px;
    float: left;
    margin-right: 120px;
}
.creation-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: white;
    color: black;
    border: none;
    font-family:"Times New Roman", Times, serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 150px; 
    text-align: center;
    font-size: 20px;
    float: left;
    margin-right: 120px;
}
.creation-button:hover {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: black;
    color: white;
    border: none;
    font-family:"Times New Roman", Times, serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 150px; 
    text-align: center;
    font-size: 20px;
    float: left;
    margin-right: 120px;
}
.home-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: black;
    color: white;
    border: none;
    font-family:"Times New Roman", Times, serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 150px; 
    text-align: center;
    font-size: 10px;
    float: left;
    margin-right: 120px;
}
.home-button:hover {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    font-family:"Times New Roman", Times, serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 250px; 
    text-align: center;
    font-size: 10px;
    float: left;
    margin-right: 120px;
}
.search-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    font-family:"Times New Roman", Times, serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 200px; 
    text-align: center;
    font-size: 10px;
    float: left;
    margin-right: 120px;
}
.search-input {
    height: 25px;
    width: 1000px;
    flex: 1;
    margin-right: 10px; 
}
.search-button:hover {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: white;
    color: black;
    border: none;
    font-family:"Times New Roman", Times, serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 200px; 
    text-align: center;
    font-size: 10px;
    float: left;
    margin-right: 120px;
}
.delete-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    font-family:"Times New Roman", Times, serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 150px; 
    text-align: center;
    font-size: 20px;
    float: left;
    margin-right: 120px;
}
.delete-button:hover {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: black;
    color: white;
    border: none;
    font-family:"Times New Roman", Times, serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 150px; 
    text-align: center;
    font-size: 20px;
    float: left;
    margin-right: 120px;
}