[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
appdirs = "*"
flask-login = "*"
python-dotenv = "*"
certifi = "*"
pymongo = "*"
bson = "*"

[dev-packages]

[requires]
python_version = "3.9"
